### Mert Güneş 2021702093
### Homework 4
### IE - 582

In [22]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.linear_model import LogisticRegression

In [4]:
data = pd.read_csv("Musk1.csv",header=None)

In [10]:
data = data.rename(columns={0:"Class",1:"Id"})

In [15]:
data.groupby("Id").describe()

   Class                                        2             ...     166  \
   count mean  std  min  25%  50%  75%  max count       mean  ...     75%
Id                                                            ...
1    4.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   4.0  42.000000  ...    6.00
2    4.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   4.0  42.000000  ...   14.00
3    2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   2.0  42.000000  ...    7.50
4    3.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   3.0  42.666667  ...    7.00
5    4.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   4.0  61.500000  ...    2.00
..   ...  ...  ...  ...  ...  ...  ...  ...   ...        ...  ...     ...
88  16.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  16.0   4.937500  ...   30.00
89   4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   4.0  23.500000  ... -141.00
90   4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   4.0  24.500000  ... -144.25
91   3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   3.0  38.000000  ...  -25.50
92   8.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   8.0  44.375000  ...    6.50

            167
      max count       mean        std   min    25%   50%     75%    max
Id
1     6.0   4.0  30.250000   0.500000  30.0  30.00  30.0   30.25   31.0
2    14.0   4.0  26.500000   1.732051  25.0  25.75  26.0   26.75   29.0
3    13.0   2.0  16.500000  58.689863 -25.0  -4.25  16.5   37.25   58.0
4     7.0   3.0  32.333333   5.507571  27.0  29.50  32.0   35.00   38.0
5    14.0   4.0  36.750000  66.339405 -27.0 -12.75  29.0   78.50  116.0
..    ...   ...        ...        ...   ...    ...   ...     ...    ...
88   37.0  16.0  32.875000  79.796303 -72.0 -22.25  23.5  120.25  124.0
89 -141.0   4.0  65.000000  13.904436  52.0  53.50  65.0   76.50   78.0
90 -142.0   4.0  65.500000  11.387127  52.0  59.50  65.5   71.50   79.0
91  -10.0   3.0  12.000000  79.774683 -38.0 -34.00 -30.0   37.00  104.0
92   12.0   8.0  41.125000  58.111807 -36.0 -16.50  72.0   79.50   97.0

[92 rows x 1336 columns]

### METHOD 1

In [11]:
data = data.groupby("Id").max()

,Class,2,3,4,5,6,7,8,9,10,...,158,159,160,161,162,163,164,165,166,167
Id,,,,,,,,,,,,,,,,,,,,,
1,1,42,-191,-109,-65,-117,55,49,-88,-28,...,-238,-73,60,-120,-38,31,48,-37,6,31
2,1,42,-190,-102,-65,-117,55,49,-87,-28,...,-238,-72,61,51,128,144,44,-30,14,29
3,1,44,-159,-63,13,-116,17,50,-114,-31,...,-235,-53,20,38,153,134,66,-28,13,58
4,1,45,-95,-61,13,-117,58,30,-96,-12,...,-234,-50,64,-54,-28,33,55,-37,7,38
5,1,85,90,-61,34,214,55,50,-114,-31,...,-235,-55,19,33,211,197,117,-8,14,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0,22,-164,-71,33,-92,-41,208,114,131,...,-79,-58,-140,-123,3,25,127,6,37,124
89,0,28,70,36,156,-112,109,17,-132,-17,...,-233,-311,-194,24,32,70,166,-42,-141,78
90,0,30,69,38,142,-112,72,17,-132,-17,...,-232,-306,-171,24,34,70,167,-41,-142,79
91,0,47,-196,-165,145,-116,82,-157,-213,-232,...,-233,-315,5,-30,149,118,164,-22,-10,104
92,0,52,-58,27,31,-95,200,214,76,135,...,114,34,136,33,152,134,99,-13,12,97

### CLASSIFIER 1

In [16]:
X = data.drop(["Class"],axis=1)
y = data["Class"]

In [21]:
mdl = RandomForestClassifier(n_estimators=100,max_depth=50)
mdl.fit(X,y)
print(np.mean(cross_val_score(mdl,X,y,cv = 10)))

0.9518173758865249

### CLASSIFIER 2

In [23]:
mdl = LogisticRegression(max_iter=1000)
mdl.fit(X,y)
print(np.mean(cross_val_score(mdl,X,y,cv = 10)))

0.9056294326241134

### METHOD 2

In [24]:
data = data.groupby("Id").min()

### CLASSIFIER 1

In [26]:
X = data.drop(["Class"],axis=1)
y = data["Class"]

In [27]:
mdl = RandomForestClassifier(n_estimators=100,max_depth=50)
mdl.fit(X,y)
print(np.mean(cross_val_score(mdl,X,y,cv = 10)))

0.8455555555555556

### CLASSIFIER 2

In [28]:
mdl = LogisticRegression(max_iter=1000)
mdl.fit(X,y)
print(np.mean(cross_val_score(mdl,X,y,cv = 10)))

0.8666666666666668

## Scores

Method 1, Classifier 1: 0.95
Method 1, Classifier 2: 0.9
Method 2, Classifier 1: 0.845
Method 2, Classifier 2: 0.866

I had a very busy month, unfortunately I did not have much time for this homework. I wanted to at least post the methods on descriptive analysis instead of sending it blank, thanks for your understanding.